<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkingWithJS</title>

    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/objeto.css">
    <link rel="stylesheet" href="../css/responsivo.css">
</head>
<body>
    <header class="cabecalho">
        <h1>Working With JS</h1>
    </header>

    <main class="conteudo">
        <div class="resultado"></div>
    </main>

    <script src="../scripts/objeto.js"></script>
</body>
</html>