<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkingWithJS</title>

    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/outra-cor.css">
</head>
<body>
    <header class="cabecalho">
        <h1>Working With JS</h1>
    </header>

    <main class="conteudo">
        <button type="button" class="button outraCor"><strong>MUDAR COR</strong></button>
    </main>

    <script src="../scripts/outra-cor.js"></script>
</body>
</html>