<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pai-Filho</title>

    <link rel="stylesheet" href="../css/pai-filho.css">

</head>
<body>
    <header id="cabecalho">
        <h1>Trabalhando com Elemento Pai-Filho</h1>
        <hr>
    </header>

    <main id="conteudo">
        <h1>Elemento conteudo</h1>
        <section class="pai">
            <h2>Elemento Pai</h2>
            <div class="pai-filho">
                <h3>Pai Filho</h3>
                <p class="filho">
                    Elemento Filho
                </p>
            </div>
        </section>
    </main>
</body>
</html>