<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkingWithJS</title>

    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/variaveis.css">

</head>
<body>
    <header class="cabecalho">
        <h1>Working With JS</h1>
    </header>

    <main class="conteudo">
        <div class="resultado"></div>
        
        <section class="text-informativo">
            <h1>Olá!</h1>

            <p>
                Olá, pessoal! Me chamo Wemerson.
            </p>
        </section>
    </main>

    <script src="../scripts/variaveis.js"></script>
</body>
</html>