<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wemerson Card</title>

    <link rel="stylesheet" href="../css/estilo.css">
</head>

<body>
    <mian id="conteudo">
        <div class="card">
            <div class="img-card"></div>
            <section class="descricao">
                <h1>Titulo 1</h1>
                <h2>Titulo 2</h2>
                
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, libero possimus totam quisquam fugiat, alias ipsa voluptatem non itaque dignissimos perspiciatis tenetur saepe sapiente dolores? Tempore praesentium veritatis in inventore!
                </p>
            </section>
        </div>
    </mian>
</body>

</html>