<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <main id="conteudo">
            <section class="text">
                <h1>WEMERSON</h1>
                <H2>DESENVOLVEDOR WEB - FULLSTACK</H2>
            </section>
            <section class="a_btns">
                <button class="btn">QUEM SOU</buttom>
                <button class="btn">CONHECIMENTO</buttom>
                <button class="btn">PROJETOS</buttom>
                <button class="btn">CERTIFICADOS</buttom>
            </section>
        </main>

        <%- include('../includes/end.ejs') %>