<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet" href="../css/zerar.css">
    <link rel="stylesheet" href="../css/responsivo.css">
</head>
<body>
    <main id="conteudo">
        <section class="area-de-login">
            <form class="informacoes">
                <h1>Login</h1>
                <p>
                    <label class="title-btn" for="email">EMAIL</label>
                    <input class="btn btn-email" type="email" id="email">
                </p>

                <p>
                    <label class="title-btn" for="password">PASSWORD</label>
                    <input class="btn btn-password" type="password" id="password">
                </p>
                <button class="btn btn-enviar">ENVIAR</button>
                
            </form>
        </section>
    </main>

    <script src="../js/script.js"></script>
</body>
</html>