<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure Book</title>

    <link rel="stylesheet" href="../css/formato.css">
</head>
<body>
    <header id="cabecalho">
        <nav id="cab-menu">
            <ul class="menu-lista">
                <li class="item-lista"><a href="#">Books</a></li>
                <li class="item-lista"><a href="#">My Adventures</a></li>
            </ul>
        </nav>
    </header>

    <main id="conteudo">
        <h1>BOOKS</h1>
        <div class="sec_books">
            <section class="book">
                <h2>Prisão</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, possimus. Ea molestias quidem quibusdam aspernatur blanditiis inventore dolore necessitatibus molestiae velit reprehenderit, eum voluptates enim, quis maiores minima illo consequuntur.</p>
            </section>

            <section class="book">
                <h2>Ponte</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt culpa magni quasi nam, nulla sequi reiciendis, at hic ipsa repellendus dolore sint labore explicabo placeat cumque impedit, illum aspernatur. Itaque!</p>
            </section>
        </div>
    </main>
</body>
</html>