<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Night</title>

    <link rel="stylesheet" href="../css/night.css">
</head>

<body>
    <header id="cabecalho">
        <h1>Dark Mod</h1>
    </header>

    <main id="conteudo">
        <section class="informacoes">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Facilis placeat vel consectetur, atque aspernatur voluptates nemo
                quasi mollitia assumenda quia qui beatae ea repudiandae ipsum eaque harum 
                autem delectus reprehenderit.
            </p>

            <div class="escolha">
                <input class="escolher-opcao" type="button" value="ATACAR">
                <input class="escolher-opcao" type="button" value="INTUIÇÃO">
                <input class="escolher-opcao" type="button" value="FITAR">
                <input class="escolher-opcao" type="button" value="ESCUDO">
            </div>
        </section>
    </main>
</body>

</html>