<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vidro</title>

    <link rel="stylesheet" href="../css/vidro.css">
</head>
<body>
    <main class="conteudo">
        <h1>CASAMENTO DE CLAÚDIA ALICE & WEMERSON</h1>
        <div class="barra-menu">
            <a href="" class="item-menu">Noivos</a>
            <a href="" class="item-menu">Padrinhos & Madrinhas</a>
            <a href="" class="item-menu">Fotos</a>
        </div>
    </main>
</body>
</html>