body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

#cabecalho {
    background-color: rgb(109, 36, 177);
    height: 5rem;
}

#cabecalho>.menu {
    padding: 2rem 4rem;
}

.menu>a {
    font-size: 1.25rem;
    color: #fff;
    padding-left: 1.25rem;
}

#conteudo {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-block: 2rem;
    background-color: bisque;
}

.add-produto {
    background-color: aquamarine;
    margin: 1rem 0;
}
