@media(max-width: 1972px) {
    #conteudo {
        width: 72dvh;
    }
}

@media(max-width: 972px) {
    #conteudo {
        width: 64dvh;
    }
}

@media(max-width: 680px) {
    #conteudo {
        width: 56dvh;
    }
}

@media(max-width: 596px) {
    #conteudo {
        width: 48dvh;
    }
}
